{% include 'base.html' %}
<script >
 var form = {
        view:"form",
        id:"form",
        scroll:true,
        autoheight:true,
        multiview:true, 
        align:"absolute",
        elements:[
            {rows:[
                {cols:[
                    {},
                    {view:"button", id:"btn_staff_kihonjyouhou", value:"基本情報" , css:"webix_primary", height:40,width:350},
                    {view:"button", id:"btn_staff_kinnkyuurenrakusaki", value:"緊急連絡先" , css:"webix_primary", height:40,width:350},
                    {view:"button", id:"btn_staff_kyoumukeitai", value:"勤務形態" , css:"webix_primary", height:40,width:350},
                    {view:"button", id:"btn_staff_furikomikouzajyouhou", value:"振込口座情報" , css:"webix_primary", height:40,width:350},
                ]},
                {cols:[
                   {view:"label",id:"", label: "<div class='subTitle'>基本情報</div>"},
                ]},
                {view:"text", id:"staff_id", name:"staff_id", label:"スタッフID", width:200,hidden:true},
                {cols:[
                    {view:"label", label:"スタッフコード", width:150,align:"right"},
                    {view:"text", id:"staff_code", name:"staff_code", label:"", width:150, labelWidth:0},
                ]},
                {cols:[
                    {view:"label",label:"氏名",width:150,align:"right"},
                    {view:"text", id:"name", name:"name", label:" ", width:150, labelWidth:0},
                ]},
                {cols:[
                    {view:"label", label:"フリガナ", width:150,align:"right"},
                    {view:"text", id:"furigana", name:"furigana", label:" ", labelWidth:0, width:150},
                ]},
                {cols:[
                    {view:"label", label:"表示略称",width:150,align:"right"},
                    {view:"text", id:"hyouji_ryakushou", name:"hyouji_ryakushou", label:" ", labelWidth:0, width:150},
                ]},
                {cols:[
                    {view:"label", label:"性別", width:150,align:"right"},
                    {view:"select", id:"seibetsu", name:"seibetsu", label:" ", options:{{HtmlHelper.getJsonKara('cm_staff_seibetsu')|raw}},  labelWidth:0, width:150},
                ]},
                {cols:[
                    {view:"label", label:"生年月日 元号",width:150,align:"right"},
                    {view:"select", id:"seinengappi_gengou", name:"seinengappi_gengou", label:" ", options:{{HtmlHelper.getJsonKara('cm_staff_gengou')|raw}}, labelWidth:0, width:150},
                    {view:"text", id:"seinengappi_year", name:"seinengappi_year", label:"", width:80}, 
                    {view:"label", label:"年", width:50},
                    {view:"text", id:"seinengappi_month", name:"seinengappi_month", label:"",width:50},
                    {view:"label", label:"月", width:50},   
                    {view:"text", id:"seinengappi_day", name:"seinengappi_day", label:"", width:50},
                    {view:"label", label:"日", width:50}, 
                    {view:"text", id:"age", name:"age", label:"", width:50}, 
                    {view:"label", label:"歳", width:50},
                ]},
                {cols:[
                    {view:"label", label:"郵便番号", width:150,align:"right"},
                    {view:"text", id:"post_no", name:"post_no", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"都道府県", width:150,align:"right"},   
                    {view:"text", id:"todoufuken", name:"todoufuken", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"市区町村", width:150,align:"right"},   
                    {view:"text", id:"shikuchoson", name:"shikuchoson", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"町名", width:150,align:"right"},   
                    {view:"text", id:"chou_name", name:"chou_name", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"番地", width:150,align:"right"},   
                    {view:"text", id:"banchi", name:"banchi", label:" ",  labelWidth:0, width:300}, 
                ]},
                {cols:[
                    {view:"label", label:"電話番号", width:150,align:"right"},   
                    {view:"text", id:"tel_no", name:"tel_no", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"携帯番号", width:150,align:"right"},  
                    {view:"text", id:"moblie_no", name:"moblie_no", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"FAX番号", width:150,align:"right"},  
                    {view:"text", id:"fax_no", name:"fax_no", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"メールアドレス", width:150,align:"right"},   
                    {view:"text", id:"mail_address", name:"mail_address", label:" ",  labelWidth:0, width:250}, 
                ]},
                {cols:[
                    {view:"label", label:"備考", width:150,align:"right"},   
                    {view:"text", id:"bikou", name:"bikou", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"削除日", width:150,align:"right"},
                    {view:"datepicker", id:"sakujo_day", name:"sakujo_day", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label: "<div class='subTitle'>緊急連絡先</div>" },
                ]},
                {cols:[
                    {view:"button", id:"btn_staff_kihonjyouhoutoonaji", name:"btn_staff_kihonjyouhoutoonaji", label:"基本情報と同じ", css:"webix_primary", width:250},
                ]},
                {cols:[
                    {view:"label", label:"氏名", width:150,align:"right"}, 
                    {view:"text", id:"kinkyuuji_name", name:"kinkyuuji_name", label:" ",labelWidth:0, width:150},
                ]},
                {cols:[
                    {view:"label", label:"郵便番号", width:150,align:"right"},
                    {view:"text", id:"kinkyuuji_post_on", name:"kinkyuuji_post_on", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"都道府県", width:150,align:"right"},
                    {view:"text", id:"kinkyuuji_todoufuken", name:"kinkyuuji_todoufuken", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"市区町村", width:150,align:"right"},   
                    {view:"text", id:"kinkyuuji_shikuchoson", name:"kinkyuuji_shikuchoson", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"町名", width:150,align:"right"},   
                    {view:"text", id:"kinkyuuji_chou_name", name:"kinkyuuji_chou_name", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"番地", width:150,align:"right"},
                    {view:"text", id:"kinkyuuji_banchi", name:"kinkyuuji_banchi", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"電話番号", width:150,align:"right"},
                    {view:"text", id:"kinkyuuji_tel_no", name:"kinkyuuji_tel_no", label:" ",  labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label", label:"備考", width:150,align:"right"},
                    {view:"text", id:"kinkyuuji_bikou", name:"kinkyuuji_bikou", label:" ",  labelWidth:0, width:250}, 
                ]},
                {},
                 {cols:[
                    {view:"label", label: "<div class='subTitle'>勤務形態</div>" },
                ]},
                {cols:[
                    {view:"label", label:"入社日元号", width:178,align:"right"}, 
                    {view:"select", id:"nyusyaday_gengou", name:"nyusyaday_gengou", label:" ", options:{{HtmlHelper.getJsonKara('cm_staff_gengou')|raw}}, labelWidth:0, width:150},
                    {view:"text", id:"nyusyaday_year", name:"nyusyaday_year", label:"", width:100}, 
                    {view:"label", label:"年", width:50},
                    {view:"text", id:"nyusyaday_month", name:"nyusyaday_month", label:"",width:50},
                    {view:"label", label:"月", width:50},
                    {view:"text", id:"nyusyaday_day", name:"nyusyaday_day", label:"", width:50},
                    {view:"label", label:"日", width:50},
                ]},
                 {cols:[
                    {view:"label", label:"有給休暇の基準日", width:130,align:"right"},
                    {view:"checkbox", id:"kijunbi_henkou", name:"kijunbi_henkou", label:" ",  width:50,align:"right"},
                    {view:"select", id:"yuukyuukyuuka_gengou", name:"yuukyuukyuuka_gengou", label:" ", options:{{HtmlHelper.getJsonKara('cm_staff_gengou')|raw}}, labelWidth:0, width:150,disable:true},
                    {view:"text", id:"yuukyuukyuuka_year", name:"yuukyuukyuuka_year", label:"", width:100,disable:true}, 
                    {view:"label", label:"年", width:50},   
                    {view:"text", id:"yuukyuukyuuka_month", name:"yuukyuukyuuka_month", label:"",width:50,disable:true},
                    {view:"label", label:"月", width:50},   
                    {view:"text", id:"yuukyuukyuuka_day", name:"yuukyuukyuuka_day", label:"", width:50,disable:true},
                    {view:"label", label:"日", width:50}, 
                ]},
                {cols:[
                    {view:"label", label:"種別", width:150,align:"right"},  
                    {view:"select", id:"syubetu_bikou", name:"syubetu_bikou", label:" ", options:{{HtmlHelper.getJsonKara('cm_staff_category')|raw}}, labelWidth:0, width:150}, 
                ]}, 
                 {cols:[
                    {view:"label", label:"契約日数", width:150,align:"right"},
                    {view:"text", id:"keiyaku_nissuu", name:"keiyaku_nissuu", label:" ",  labelWidth:0, width:150}, 
                    {view:"label",label:"日 / 週"}, 
                ]},
                {cols:[
                    {view:"label", label:"契約時間", width:150,align:"right"},
                    {view:"text", id:"keiyaku_jikan", name:"keiyaku_jikan", label:" ",  labelWidth:0, width:150}, 
                    {view:"label",label:"時間 / 月"},
                ]},
                {cols:[
                    {view:"label", label:"勤務区分", width:150,align:"right"}, 
                    {view:"select", id:"kinmu_kubun", name:"kinmu_kubun", label:" ", options:{{HtmlHelper.getJsonKara('cm_kinmu_category')|raw}}, labelWidth:0, width:150}, 
                ]}, 
                {cols:[
                    {view:"label", label:"勤務希望地", width:150,align:"right"},
                    {view:"text", id:"kinmu_kibouchi", name:"kinmu_kibouchi", label:" ", width:150, labelWidth:0}, 
                ]},
                 {cols:[
                    {view:"label", label:"主な通勤手段", width:150,align:"right"}, 
                    {view:"checkbox", id:"check_koutu_1", name:"check_koutu_1", label:" ",  labelWidth:0, width:30}, 
                    {view:"label", label:"徒歩", width:50},   
                    {view:"checkbox", id:"check_koutu_2", name:"check_koutu_2", label:" ",  labelWidth:0, width:30}, 
                    {view:"label", label:"自転車", width:50}, 
                    {view:"checkbox", id:"check_koutu_3", name:"check_koutu_3", label:" ",  labelWidth:0, width:30}, 
                    {view:"label", label:"オートバイ", width:50}, 
                    {view:"checkbox", id:"check_koutu_4", name:"check_koutu_4", label:" ",  labelWidth:0, width:30}, 
                    {view:"label", label:"自動車", width:50}, 
                    {view:"checkbox", id:"check_koutu_5", name:"check_koutu_5", label:" ",  labelWidth:0, width:30}, 
                    {view:"label", label:"電車・バス", width:80}, 
                    {view:"checkbox", id:"check_koutu_6", name:"check_koutu_6", label:" ",  labelWidth:0, width:30}, 
                    {view:"label", label:"その他", width:50}, 
                ]},
                {cols:[
                  {view:"label", label:"勤務希望設定", width:200,labelWidth:0,},
                ]},
                //勤務一覧
                {
                    view:"datatable", css:"webix_header_border",
                    id:"ichiran",
                    hover:"myhover", 
                    select:true,
                    borderless:true,
                    rowHeight:60,
                    yCount:7,
                    autoheight:true,    
                    editable:true,
                    columns:[
                        {id:"id", header:"ID", hidden:true},
                        {id:"youbi", header:"曜日"},
                        {id:"kinmu_kubun_id", header:["勤務区分"],editor:"select",options:{{HtmlHelper.getJsonKara('kinmuKubun_category')|raw}},fillspace:true},
                        {id:"start_time_1",	header:[{text:"時間帯①",  colspan:2}, "開始"], editor:"text"},
                        {id:"end_time_1",header:[" ","終了"], editor:"text"},
                        {id:"start_time_2",	header:[{text:"時間帯②",  colspan:2}, "開始"], editor:"text"},
                        {id:"end_time_2",header:[" ","終了"], editor:"text"},
                        {id:"start_time_3",	header:[{text:"時間帯③",  colspan:2}, "開始"], editor:"text"},
                        {id:"end_time_3",header:[" ","終了"], editor:"text"},
                        {id:"start_time_4",	header:[{text:"時間帯④",  colspan:2}, "開始"], editor:"text"},
                        {id:"end_time_4",header:[" ","終了"], editor:"text"},
                        {id:"start_time_5",	header:[{text:"時間帯⑤",  colspan:2}, "開始"], editor:"text"},
                        {id:"end_time_5",header:[" ","終了"], editor:"text"},
                    ],
                    data: [
                        {id:"1",youbi:"月", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                        {id:"2",youbi:"火", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                        {id:"3",youbi:"水", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                        {id:"4",youbi:"木", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                        {id:"5",youbi:"金", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                        {id:"6",youbi:"土", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                        {id:"0",youbi:"日", kinmu_kubun_id:"", start_time_1:"",end_time_1:"",start_time_2:"",end_time_2:"",start_time_3:"",end_time_3:"",start_time_4:"",end_time_4:"",start_time_5:"",end_time_5:""},
                    ],
                },
                {cols:[
                   {view:"button", id:"btn_Staff_sinki", value:"新規追加" , css:"webix_primary", height:40,width:350},
                ]},
                {cols:[
                    {view:"label", label: "<div class='subTitle'>振込口座情報</div>" },
                ]},
                {cols:[
                    {view:"label", label:"支払方法", width:150,align:"right"}, 
                ]},
                {view:"radio",label:"支払い方法",options:[{id:"ginkokouza_furikomi", value:"銀行口座振込"}, {id:"yuubinnkyokukouza_furikomi", value:"郵便局口座振込" },],},
                
                {view:"label", label: "<div class='subTitle'>銀行口座振込</div>" },
                
                {cols:[
                    {view:"label",label:"◎:振込データの必須項目",width:250,align:"right"},
                ]},
                {cols:[
                    {view:"label",label:"銀行名",width:150,align:"right"},
                    {view:"text", id:"bank_bank_name_furi", name:"bank_bank_name_furi", label:" ", width:300, labelWidth:0},
                ]},
                {cols:[
                    {view:"label",label:"支店名",width:150,align:"right"},
                    {view:"text", id:"bank_shiten_furigana", name:"bank_shiten_furigana", label:" ", width:300, labelWidth:0},
                ]},
                {cols:[
                    {view:"label",label:"◎　銀行コード",width:150,align:"right"},
                    {view:"text", id:"bank_bank_code", name:"bank_bank_code", label:" ", width:150, labelWidth:0},
                ]},
                {cols:[
                    {view:"label",label:"◎　支店コード",width:150,align:"right"},
                    {view:"text", id:"bank_shiten_code", name:"bank_shiten_code", label:" ", width:150, labelWidth:0},
                ]},
                {cols:[
                    {view:"label",label:"◎　口座種別",width:150,align:"right"},
                    {view:"select", id:"bank_kouza_shubets", name:"bank_kouza_shubets", label:" ",options:{{HtmlHelper.getJsonKara('kouza_syubetu')|raw}},  labelWidth:0, width:150},
                ]},
                {cols:[
                    {view:"label",label:"◎　口座番号",width:150,align:"right"},
                    {view:"text", id:"bank_kouza_no", name:"bank_kouza_no", label:" ",  labelWidth:0, width:200},
                ]},
                {cols:[
                    {view:"label",label:"◎　口座名義フリガナ",width:150,align:"right"},
                    {view:"text", id:"bank_kouza_meigi_furigana", name:"bank_kouza_meigi_furigana", label:" ",  labelWidth:0, width:300},
                ]},
                {cols:[
                    {view:"label",label:"◎　顧客コード",width:150,align:"right"},
                    {view:"text", id:"bank_kokyaku_code", name:"bank_kokyaku_code", label:" ",  labelWidth:0, width:250},
                ]},

                {view:"label", label: "<div class='subTitle'>郵便局口座振込</div>" },
                
                {cols:[
                    {view:"label",label:" ◎: 振込データの必須項目",width:250,align:"right"},
                ]},
                {cols:[
                    {view:"label",label:"◎　口座記号",width:150,align:"right"},
                    {view:"text",id:"kouza_kigou",value:"1",labelWidth:0, width:40,disabled:true},
                    {view:"text", id:"post_office_kouza_kigou", name:"post_office_kouza_kigou", label:" ",  labelWidth:0, width:80},
                    {view:"text",id:"kouza_kigou1",value:"0",labelWidth:0, width:40,disabled:true},
                ]},
                {cols:[
                    {view:"label",label:"◎　口座番号",width:150,align:"right"},
                    {view:"text", id:"post_office_kouza_no", name:"post_office_kouza_no", label:" ",  labelWidth:0, width:150},
                    {view:"text",id:"1",value:"1",labelWidth:0, width:40,disabled:true},
                ]},
                {cols:[
                    {view:"label",label:"◎　口座名義フリガナ",width:150,align:"right"},
                    {view:"text", id:"post_office_kouza_meigi_furigana", name:"post_office_kouza_meigi_furigana", label:" ",  labelWidth:0, width:300},
                ]},
                {cols:[
                    {view:"label",label:"◎　顧客コード",width:150,align:"right"},
                    {view:"text", id:"post_office_kokyaku_code", name:"post_office_kokyaku_code", label:" ",  labelWidth:0, width:250},
                ]},

                {view:"label", label: "<div class='subTitle'>振込データ「新規コード」初期設定</div>" },

                {cols:[
                    {view:"label", label:"登録年月", width:150,align:"right"},
                    {view:"datepicker",type:"month", id:"touroku_month", name:"touroku_month", label:" ", labelWidth:0, width:150}, 
                ]},
                {cols:[
                    {view:"label",label:"更新年月",width:150,align:"right"},
                    {view:"datepicker",type:"month", id:"modification_month", name:"modification_month", label:" ",  labelWidth:0, width:150},
                ]},
            ]}
        ],
        rules:{
        }
  };
    var footer = {cols:[
        {view:"button", id:"btn_back", name:"btn_back", value:"一覧に戻る", css:"webix_primary", width:200,height:50},
        {},
        {view:"button", id:"btn_register", name:"btn_register", value:"登録", css:"webix_primary",width:200,height:50}, 
    ]};
    var logic = {
        init:function() {
            logic.dataLoad();
            $$("btn_register").attachEvent("onItemClick", logic.register);
            $$("btn_back").attachEvent("onItemClick", logic.toMenu);
            $$("btn_staff_kinnkyuurenrakusaki").attachEvent("onItemClick", function(){logic.scrollTo("staff_kinkyuurenrakusaki")}); 
            $$("btn_staff_kihonjyouhoutoonaji").attachEvent("onItemClick", logic.tokihonjyouhou);
            $$("btn_staff_kihonjyouhou").attachEvent("onItemClick", function(){logic.scrollTo("staff_kihonjyouhou")});
            $$("btn_staff_kyoumukeitai").attachEvent("onItemClick", function(){logic.scrollTo("staff_kinmukeitai")});
            $$("kijunbi_henkou").attachEvent("onItemClick",logic.check);
       
        },
        dataLoad:function() {
            AUNG.GET("Api/ApiStaffFix", {}, function(text, xml, data) {
                if(AUNG.isAjaxError()) return false;
                json = xml.json();
                $$("form").parse(json.kihon);
                $$("ichiran").parse(json.ichiran);
                {# AUNG.datatable.parse("ichiran", json.ichiran); #}
            });
        },
        check:function(){
            console.log("check");
            if ($$("kijunbi_henkou").getValue() == 0){
                console.log("0");
                $$("yuukyuukyuuka_gengou").disable();
                $$("yuukyuukyuuka_year").disable();
                $$("yuukyuukyuuka_month").disable();
                $$("yuukyuukyuuka_day").disable();
            }  else {
                console.log("1");
                $$("yuukyuukyuuka_gengou").enable();
                $$("yuukyuukyuuka_year").enable();
                $$("yuukyuukyuuka_month").enable();
                $$("yuukyuukyuuka_day").enable();
            }
        },      
        register:function() {
            $$("ichiran").editStop();
            if(!logic.validate()) {
                return false;
            }
            var _postData = {
                kihon: $$("form").getValues(),
                ichiran: AUNG.datatable.getItem("ichiran"),
            };
            console.log(_postData);
             AUNG.POST("Api/ApiStaffFix", _postData, function(text, data, xml) {
                if(AUNG.isAjaxError()) return false;
                webix.message("登録しました");
                logic.dataLoad();
            });
        },
        validate:function() {
            if(!$$("form").validate()) {
                AUNG.errorMessage("必須項目が不足しています。");
                return false;
            }
            return true;
        },
        toMenu:function() {
            AUNG.pageMove("StaffManage");
        },
        scrollTo:function(id){
            $$("form").scrollTo(0, $$(id).$subTitle.offsetTop);
        },
        tokihonjyouhou:function(){
            var msg = "[電話番号][住所]に基本情報内容を複写します。処理を続行してもよろしいですか？";
            if (confirm(msg)){
                $$("kinkyuuji_tel_no").setValue($$("tel_no").getValue());
                $$("kinkyuuji_todoufuken").setValue($$("todoufuken").getValue());
                $$("kinkyuuji_shikuchoson").setValue($$("shikuchoson").getValue());
                $$("kinkyuuji_chou_name").setValue($$("chou_name").getValue());
                $$("kinkyuuji_banchi").setValue($$("banchi").getValue());
                $$("kinkyuuji_post_on").setValue($$("post_no").getValue());
            }
        }
    };
   webix.ui(
        {id:"app", rows:[
            form,
            footer,
            {height:60}
        ]}
    );
    webix.ready(function () {
        AUNG.init();
        logic.init();
    });
</script>